@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cookie&family=Major+Mono+Display&family=Orbitron:wght@400..900&display=swap');

body {
  font-size: 0;
  box-sizing: border-box;
  --spacing-1: 10px;
  --spacing-2: 20px;
  --spacing-4: 40px;
}

/* Header */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header .current-round-players {
  font-size: 36px;
  font-family: "Major Mono Display", monospace;
  text-transform: lowercase;
  margin: var(--spacing-2);
  padding: var(--spacing-2);
}

/* Main */

.main {
  width: 100%;
  margin-top: 100px;
  height: calc(100vh - 600px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-4);
}

.main .prompt {
  height: 50%;
  font-size: 72px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
  text-align: center;
}

.main .judge-container .judge-scores {
  font-size: 72px;
  font-family: "Major Mono Display", monospace;
  text-transform: lowercase;
  text-align: center;
}

/* Footer */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.player-score-carousel {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-2);
  overflow-x: auto;
  white-space: nowrap;
}

.player-score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 240px;
}

.player-score-container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player-score-container .name {
  z-index: 1;
  font-size: 24px;
  font-family: "Major Mono Display", monospace;
  font-weight: bold;
  text-transform: lowercase;
  outline: none;
}

.player-score-container .score {
  z-index: 1;
  margin-top: 110px;
  font-size: 64px;
  line-height: 68px;
  font-family: "Orbitron", sans-serif;
  color: #3c9bbd;
}

.player-score-container.busted {
  opacity: 0.5;
}

.player-score-container.busted .score {
  color: #a4202f;
}

.player-score-container .podium {
  z-index: 0;
  width: 100%;
  height: 100%;
  margin-top: -150px;
}

.footer .button-container {
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin: var(--spacing-1);
}

.footer .button-container .button {
  margin: var(--spacing-1);
  background: none;
  outline: none;
  border: none;
  font-size: 48px;
  font-family: "Major Mono Display", monospace;
  text-transform: lowercase;
  opacity: 0.25;
}

.footer .button-container .button:hover {
  cursor: pointer;
  opacity: 1.0;
}

.footer .button-container .button.create-round {
  border: 2px solid black;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  font-size: 24px;
  padding-bottom: 5px;
}